<!DOCTYPE html>
<html>

<head>
    <title>Node OAuth2 Example</title>
</head>

<body>
    <h1>Hello World</h1>
    <div>
        <a href="https://github.com/login/oauth/authorize?client_id=<%= clientID %>&redirect_uri=<%=redirectUri%>">
            Login with github
          </a>
    </div>
</body>

</html>